force-app/main/default/flows/RTF_Account_VAT_Check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_VAT_Number</name>
        <label>Check VAT Number</label>
        <locationX>446</locationX>
        <locationY>408</locationY>
        <actionName>afp__vies_Invocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>VAT_Result</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Account_Invalid_VAT_Status</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>vatId</name>
            <value>
                <elementReference>$Record.VATNumber__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Has_VAT_Number</name>
        <label>Has VAT Number</label>
        <locationX>776</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_VAT_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fm_HasVatNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_VAT_Number</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>VAT_Result</name>
        <label>VAT Result</label>
        <locationX>446</locationX>
        <locationY>528</locationY>
        <defaultConnector>
            <targetReference>Update_Account_Invalid_VAT_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_VAT_Number.isValid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_VAT_Status</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <formulas>
        <name>fm_HasVatNumber</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!$Record.VATNumber__c}))</expression>
    </formulas>
    <formulas>
        <description>Returns either the flow FaultMessage or the VAT check message</description>
        <name>fm_VATStatusMessage</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE({!$Flow.FaultMessage},{!Check_VAT_Number.statusMessage})</expression>
    </formulas>
    <formulas>
        <name>fm_VATUpdateStatus</name>
        <dataType>String</dataType>
        <expression>IF({!fm_HasVatNumber},&quot;Pending&quot;,&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>RTF Account VAT Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF Account VAT Check</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account_Invalid_VAT_Status</name>
        <label>Update Account Invalid VAT Status</label>
        <locationX>578</locationX>
        <locationY>648</locationY>
        <inputAssignments>
            <field>VATCheckStatus__c</field>
            <value>
                <stringValue>Invalid</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VATStatusMessage__c</field>
            <value>
                <elementReference>fm_VATStatusMessage</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_VAT_Status</name>
        <label>Update Account VAT Status</label>
        <locationX>314</locationX>
        <locationY>648</locationY>
        <inputAssignments>
            <field>VATCheckStatus__c</field>
            <value>
                <stringValue>Valid</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VATStatusMessage__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_VAT_Status_and_Message</name>
        <label>Update VAT Status and Message</label>
        <locationX>50</locationX>
        <locationY>288</locationY>
        <inputAssignments>
            <field>VATCheckStatus__c</field>
            <value>
                <elementReference>fm_VATUpdateStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VATStatusMessage__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>287</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_VAT_Status_and_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VATNumber__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Has_VAT_Number</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
